.contact-us-section {
  .float-icon-1 {
    width: 200px;
    height: 200px;
    left: 50px;
    top: 0;
  }
  .float-icon-2 {
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 50px;
  }
  .contact-us-col {
    padding: 30px;
    background: #fff;
    border-radius: 16px 0 0 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    @media (max-width: 991px) {
      border-radius: 16px 16px 0 0;
      padding: 15px;
    }
  }

  .form-fild-main {
    display: flex;
    gap: 15px 0;
  }

  .contact-us-heading {
    color: #000;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
    span {
      color: $secondary;
    }
    @media (max-width: 991px) {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  .contact-us-form-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact-form-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .contact-us-label {
    margin: 0;
    color: $primaryFontColor;
  }

  .validation-mark {
    color: red;
  }

  .contact-us-input {
    padding: 10px 16px;
    border-radius: 4px;
  }

  .contact-us-textarea {
    resize: none;
    min-height: 70px;
  }

  .contact-btn-div {
    display: flex;
    justify-content: end;
    margin-top: 5px;

    .common-btn {
      margin: 0;
      transition: ease 0.4s;

      &:hover {
        box-shadow: none;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .contact-us-info-col {
    position: relative;
    padding: 50px 30px;
    background: $secondary;
    border-radius: 0 16px 16px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    @media (max-width: 991px) {
      border-radius: 0 0 16px 16px;
      padding: 25px 15px;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      content: "";
      background: url("../images/bd-2.png") no-repeat center;
      background-size: cover;
      filter: brightness(100);
    }

    .contact-us-heading {
      color: #fff;
    }
  }

  .contact-info-text {
    color: #fff;
    display: flex;
    align-items: center;
    transition: ease 0.4s;
  }

  .contact-info-div {
    display: flex;
    gap: 10px;
    width: fit-content;

    &:hover .contact-info-text {
      color: #ffc947;
    }
  }

  .contact-address-div:hover:hover .contact-info-text {
    color: #fff;
  }

  .contact-info-icon {
    // height: 34px;
    // min-width: 34px;
    margin-top: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    i {
      font-size: 24px;
      color: #fff;
    }
  }

  .contact-bg-div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 0 70px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .error {
    color: red;

    &.contact-us-input {
      color: #000;
    }
  }
}

.contact-bg-img {
  position: relative;
  bottom: 0;
  left: 50px;
  width: 200px;
  object-fit: contain;
}
