.common-accordion {
  .accordion-button {
    border: 1px dashed $secondary;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    color: $secondaryFontColor;
    display: flex !important;
    &.collapsed {
      border-radius: 10px;
    }
    &:focus {
      box-shadow: none;
    }
    &:not(.collapsed) {
      background: $secondary;
      color: #fff;
      border: 0;
      display: flex !important;
      &::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        filter: invert(1);
      }
    }
  }
  .accordion-item {
    margin-bottom: 20px;
    border-radius: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
