.login-section {
  background-size: contain;
}

.login-item {
  padding: 30px 20px;
  background: #fff;
}

.login-header {
  margin-bottom: 20px;

  // background: $primary;
  // padding: 25px 20px;
  // position: relative;
  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   background: url("../images/bd-2.png") no-repeat center;
  //   background-size: cover;
  //   content: "";
  //   opacity: 0.4;
  // }
  .login-header-content {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // position: relative;
    // z-index: 2;
    // gap: 10px;
    text-align: center;
    .login-title {
      font-size: 40px;
      font-weight: 500;
      line-height: 40px;
      color: $primary;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .login-icon {
      height: 100px;
      object-fit: contain;
    }
  }
}

.login-mdiv {
  border-radius: 10px;
  overflow: hidden;
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  background: #fff;

  .login-footer {
    margin-top: 30px;
    .common-main-title {
      font-size: 20px;
      line-height: 26px;
      text-transform: capitalize;
      padding-inline: 20px;
    }
    .social-icon-div {
      justify-content: center;
      margin-bottom: 30px;
      .social-icon-link {
        width: 45px;
        height: 45px;
        padding: 5px;
        box-shadow: none;
        transition: 0.3s ease;
        &:hover {
          background: #fff;
          box-shadow: 0px 0px 2px rgba(1, 15, 28, 0.2);
        }
        .social-icon {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .signup-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    text-align: center;
    a {
      color: $primary;
      display: inline-flex;
      align-items: center;
      gap: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
    &.forgot-password-link {
      margin-top: 15px;
    }
  }
}

.backto-login-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  color: $primary;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: $primary;
  margin-inline: auto;
  text-align: center;
  width: fit-content;
  margin-top: 15px;
  &:hover {
    color: $primary;

    span {
      text-decoration: underline;
    }
  }
}

.otp-mdiv {
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: 10px;
  .form-control {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
  }
}
.form-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}
.form-control {
  padding: 10px;
  font-size: 16px;
  &:focus {
    box-shadow: none;
    border-color: $primary;
  }
  &.input-password {
    padding-right: 35px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}
.submit-btn {
  width: 100%;
}
